* {
	margin:0; padding:0;
}
/*The colors chosen were meant to pay tribute to the colors used by the late "Ultimate" Warrior */
body{
    background: url('../images/rampage.gif') repeat center ;
    line-height:2;
    text-indent:0.625em;
    margin-left:auto;
    margin-right:auto;
    border: 0.313em double lime;
    border-radius: 0.938em;
    box-shadow:0 0 3.125em 1.250em darkorange;
    width:95%;


}
a:link {
    text-decoration:none;
    color: white;
}
a:visited {
    text-decoration:none;
    color: #E80C93;
}
a:hover {
    text-decoration:underline;
    color: #E80C93;
}
a:active {
    text-decoration:underline;
}

h1{
    background-color:darkorange;
    color:hsla(0, 0%, 100%, 1);
    font:italic bold 2.5em "ceviche one";
    text-transform:uppercase;
    text-shadow:0.313em 0.313em 0.625em lime;
    border-top-left-radius:0.938em;
    border-top-right-radius:0.938em;
}
h2{
    color:hsla(0, 0%, 100%, 1);
    font:italic 1.75em "ceviche one";
    letter-spacing:0.063em;
    text-shadow:0.313em 0.313em 0.625em lime;
    height:64px;
    background: darkorange url('../images/icon.png') no-repeat center ;
}
h3{

    color:hsla(0, 0%, 100%, 1);
    font:italic 1.5em "ceviche one";
    letter-spacing:0.063em;
    text-shadow:0.313em 0.313em 0.625em lime;
    height:64px;
    background: darkorange url('../images/icon.png') no-repeat center ;
}
h4{
    height:64px;
    background: darkorange url('../images/icon.png') no-repeat center ;
    color:hsla(0, 0%, 100%, 1);
    font:italic bold 1.25em;
    letter-spacing:0.063em;
    text-shadow: 0.313em 0.313em 0.625em lime;
    display:block;
}
p{

    background-color:#E80C93;
    color:rgb(0,0,0);
    font-size:1.0em;
    font-family:"georgia", serif;

}
ul{

    background-color:rgba(17,217,0,.95);
    color:rgb(0,0,100);
    width:99.3%;
    padding:0;
    border:0.313em dotted lime;
    margin:0;
    list-style:inside circle;

}
p.column{
    -moz-column-count: 3;
    -moz-column-gap: 1.875em;
    -webkit-column-count: 3;
    -webkit-column-gap : 1.875em;
    -moz-column-rule-color:  #ccc;
    -moz-column-rule-style:  solid;
    -moz-column-rule-width:  0.063em;
    -webkit-column-rule-color:  #ccc;
    -webkit-column-rule-style: solid ;
    -webkit-column-rule-width:  0.063em;
    width:96.4%;
    column-count:3;
    float:none;
    padding:1.563em;
    column-gap: 6.250em;
    column-rule-color:  #ccc;
    column-rule-style: solid ;
    column-rule-width:  0.063em;
    margin: 0.313em 0.313em 0.313em 0.313em;
    clear:both;
    background:linear-gradient(lime,deepskyblue);
}